<h1>MagistrateMonitor :: Supervisor list</h1>

<table>
  <thead>
    <tr>
      <th>Supervisor</th>
      <th>Worker</th>
      <th>pid</th>
      <th>State</th>
      <th>Supervisor Target State</th>
      <th>Monitor Target State</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  
  <% @supervisors.each do |supervisor| %>
    <tr>
      <th><a href="<%= url "/supervisors/#{supervisor.name}" %>"><%= supervisor.name %></a><br>
          <%= supervisor.last_checkin_at %></th>
      <th colspan="7"> - </th>
      <td><a href="<%= url "/supervisors/#{supervisor.name}/delete" %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a><br>
    </tr>
    <% supervisor.status.each do |k,v| %>
      <tr>
        <th> - </th>
        <th><%= k %></th>
        <td><%= v['pid'] %></td>
        <td><%= v['state'] %></td>
        <td><%= v['target_state']%></td>
        <td><%= supervisor.databag['workers'][k]['target_state'] if supervisor.databag['workers'].is_a?(Hash) && supervisor.databag['workers'][k].is_a?(Hash) %></td>
        <td>
          <% if v['state'] != 'running' %>
            <a href="<%= url_for_worker(supervisor, k, 'running') %>" data-method="post" rel="nofollow">Run</a>
          <% end %>
        </td>
        <td>
          <% if v['state'] != 'stopped' %>
            <a href="<%= url_for_worker(supervisor, k, 'stopped') %>" data-method="post" rel="nofollow">Stop</a>
          <% end %>
        </td>
        <td>
          <% if v['state'] != 'unmonitored' %>
            <a href="<%= url_for_worker(supervisor, k, 'unmonitored') %>" data-method="post" rel="nofollow">Unmonitor</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>